body {
    background-color: #cdcdcd;
}

.stack {
    text-align: center;
    position: relative;

}

.card {
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: inline-block;
    transition: all 1s ease;
}
.image img{
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
}