@font-face {
    font-family: gtst;
    src: url('files/fonts/DJ5CTRIAL.ttf');
}

body {
    padding: 0;
    overflow: hidden;
    background-color: #cdcdcd;
}

#wrapper {
    transition: all 1s ease;
    display: none;
}

@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

#playButton {
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: firebrick;
}

#playButton>#myButton {
    position:absolute;
    z-index: 1;
    top: 32%;
    left: 40%;
    font-size: 100px;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-left: 100px solid #cdcdcd; 
}

#playButton:hover, #playButton:active{
    cursor: pointer;
    background-color: rgb(138, 32, 32);
}

.background_image>img {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: -1;
    filter: blur(15px);
    width: 110%;
    height: 100vh;
    display: block;
}

.title {
    color: #ffffff;
    z-index: 10;
    width: 350px;
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    font-family: gtst;
    font-size: 60px;
    transform: rotate(-3deg);
}

.title>.first-letter {
    font-size: 100px;
}

.title>.bottom-text {
    display: block;
    position: absolute;
    top: 110px;
    left: 20px;
    padding-left: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.title>.bottom-text>span {
    padding-left: 40px;
}

.red_circle {
    z-index: 9;
    display: block;
    position: absolute;
    /* background-color: #DA1820; */
    background-image: radial-gradient(farthest-corner at 1px 10px,#FFCF56 0%, #DA1820 100%);
    top: 24%;
    left: 36%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.red_lines {
    z-index: 10;
    color: rgba(83, 0, 0, 1);
    position: absolute;
    top: 22%;
    left: 36%;
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-top: 30px solid #B21716;
    border-bottom: 30px solid #B21716;
    transform: rotate(-30deg);

}

.white_lines {
    z-index: 10;
    color: rgba(83, 0, 0, 1);
    position: absolute;
    top: 24%;
    left: 34%;
    display: block;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    border-left: 30px solid rgb(187, 188, 190, 0.7);
    border-right: 30px solid rgba(187, 188, 190, 0.7);
    transform: rotate(-20deg);
}

#stack {
    text-align: center;
    position: relative;
    max-width: 80vw;
    max-height: 99vh;
    width: 100%;
    height: 100%;
    display: block;
}

.card {
    transition: all 6s ease;
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    float: left;
}

.image>img{
    width: 96%;
    height: 96%;
    display: block;
    margin: 1% auto;
}

#intro {
    display: none;
}